<style type="text/css">
    .mediumHeader {
        border-bottom: 1px solid #cddee7;
        padding-bottom: 3px;
        margin-bottom: 25px;
    }
    .subHeader {
        border-bottom: 1px dotted #cddee7;
        padding-bottom: 3px;
        margin-bottom: 25px;
    }
</style>
<mtapp:setting
    id="is_active"
    label="<__trans phrase="Active">">
    <input type="checkbox" name="is_active"<mt:if name="is_active"> checked="checked"</mt:if> />
</mtapp:setting>